{% load static %}

{% for obj in obj %}
    <tr id="row-{{obj.pk}}">
        <td>{{obj.name}}</td>
        <td>{{obj.directory.path}}</td>
        <td>{{obj.directory.sub_path}}</td>
        <td>{{obj.upload}}</td>
        <td>
            <button type="button" class="btn btn-sm js-delete-post" data-url="{% url 'file-delete' obj.id %}">X</button>
            <button type="button" class="btn btn-sm js-update-post" data-url="{% url 'file-update' obj.id %}"><i class="far fa-edit mr-1"></i> </button>
        </td>                      
    </tr>
{% empty %}
    <tr>
        <td rowspan="12">Nenhum item encontrado!</td>
    </tr>
{% endfor %}