<nav class="navbar navbar-expand fixed-top be-top-header">
    <div class="container-fluid">
        <div class="be-navbar-header"><h3>Sistema de Arquivos</h3></div>
        <div class="be-right-navbar">
            <ul class="nav navbar-nav float-right be-user-nav">
                <li class="nav-item dropdown">
                    <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                        <img src="/static/custom/img/avatar.png" alt="Avatar">
                        <span class="user-name"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>